.post-content ul {
  list-style-type: initial;
  list-style-position: inside;
}

.post-content pre code {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
}

.hljs {
  white-space: pre;
  word-wrap: normal;
}

code:not(.hljs) {
  background-color: black;
  color: white;
  padding: 0px 2px;
  margin: 0px 1px;
  border-radius: 2px;
}
